[user]
  email = bernard.pagoaga@gmail.com
  name = Bernard Pagoaga
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  # blog.gitbutler.com/how-git-core-devs-configure-git/
  # clearly makes git better
[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[init]
  defaultBranch = main
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[fetch]
  prune = true
  pruneTags = true
  all = true
  # why the hell not?
[help]
  autocorrect = prompt
[commit]
  verbose = true
[rerere]
  enabled = true
  autoupdate = true
[core]
  excludesfile = ~/.gitignore
[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true
[pull]
  ff = true
  rebase = false
[merge]
  # (just 'diff3' if git version < 2.3)
  conflictstyle = zdiff3
[difftool]
    prompt = false
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[mergetool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\""
  trustExitCode = true
[init]
  defaultBranch = main
